
body { padding-top: 70px; }

.register {
	width:40% !important;
	margin: 30%;
	margin-top: 20px;
	margin-left: 55px;
	
}

.confirmation{
	color:#2aabd2;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid!important;
    margin: 10px 0px!important;
    padding:15px 10px 15px 50px!important;
    background-repeat: no-repeat!important;
    background-position: 10px center!important;
}

.warning{
    color: #9F6000!important;
    background-color: #FEEFB3!important;
    background-image: url('../img/icons/Knob%20Attention.png')!important;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/icons/Knob%20Cancel.png');
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/icons/Knob%20Message.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/icons/Knob%20Valid%20Green.png');
}


.bg-light-gray {
    background-color: #f7f7f7;
}

header {
    text-align: center;
    color: white;
	
    background-attachment: scroll;
    background-image: url(../img/italy.jpg);
    background-position: center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	vertical-align: middle;
    -o-background-size: cover;
}

.textcenter{
text-align: center;

}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}


    .btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }
    
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.upload{
	margin-top:15px;
}

label.valid {
    width: 16px;
    height: 16px;
    background: url('//alittlecode.com/files/jQuery-Validate-Demo/assets/img/valid.png') center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

#radius, .location{
    display: inline-block;

}
#radius{
    width: 100px;

}
.location {
    width: inherit;
}

.largetext{
    font-size: large !important;
    font-weight: bold !important;
}



